.main-container {
    width: 100%;
    background-color: #edfafd;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-overlay-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 3.6;
    object-fit: cover;
}


.overlay-text {
    position: absolute;
    padding: 10% 5%; 
    font-size: 5vw;
    font-family: 'Indie Flower', cursive;
    transform: translate(30%, -20%);
}

.overlay-sign {
    position: absolute;
    max-width: 60%; 
    padding: 10% 5%; 
    transform: translate(10%, 10%); 
}

.ship-sign {
    position: absolute;
    top: 5vh; 
    left: 20vw;
    transform: rotate(-10deg);
    width: 25vw;
    height: auto;
}

.drive-sign {
    position: absolute;
    top: 5vh; 
    left: -5vw;
    transform: rotate(10deg);
    width: 25vw;
    height: auto;
}

.presentation-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* adjust as needed */
    padding: 20px; /* adjust as needed */
    justify-items: center; /* added this line */
    align-items: start; /* added this line */
}

.presentation-point {
    padding: 0 50px; /* adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point-title {
    text-align: start;
    font-size: 22px;
    color: rgb(0, 26, 71);
}

.point-descr {
    text-align: start;
    font-size: 18px;
    padding-left: 1em; /* adjust as needed */
    color: rgb(0, 26, 71);
    opacity: 0.8;
}

.point-header {
    display: flex;
    align-items: center;
    gap: 10px; /* adjust as needed */
}

.point-icon {
    width: 30px; /* adjust as needed */
    height: 30px; /* adjust as needed */
}

@keyframes flash {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.flash {
    color: yellowgreen;
    animation: flash 1s linear;
}

.appeared {
    color: yellowgreen;
}