.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #edfafd;
    z-index: 1000;
}

.signup-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.signup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; 
    /* width: 30%; */
    /* height: 60%; */
    border-radius: 10px; 
    padding-left: 60px; 
    padding-right: 60px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
}

.header-logo {
    padding-top: 10px;
    width: auto;
    height: 80px;
    padding-left: 70px;
}

.user-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-left: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.signup-question-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: 'Indie Flower', cursive; 
}

.signup-question-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-button{
    margin: 5px 0; /* Creates vertical spacing between form elements */
    border: 1px solid #ccc; 
    border-radius: 30px; 
    width: 180px;
    font-size: 18px;
}

.signup-button:active {
    background-color: #ddd;
}

.signup-button:hover {
    background-color: #ddd;
}

.pwd-warning {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
}

.signup-divider {
    margin-bottom: 5px;
}

.signup-social-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;  
    justify-content: center;
}

.signup-social-button, .signup-social-button img {
    width: 50px;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.captcha-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* to make sure it's on top of other elements */
}

.number-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-left: 10px;
    width: 120px;
    margin-bottom: 10px;
}

.number-verified{
    border-color: green;
    border-width: 2px
}

.verify-number-button{
    border: none;
    border-radius: 30px; 
    width: 60px;
    font-size: 16px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    margin-left: 160px;
}